#blog-form-page {
  background-color: darken($grey, 20);

  width: 100%;

  margin-top: $overlap;

  position: fixed;
  top: 0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
}

#add-blog-form {

  background-color: $grey;

  width: 50%;
  height: auto;

  border-radius: $xxs-size;
  margin: $m-size auto;
  padding: $l-size $m-size $l-size $m-size;

  text-align: center;
}

#title-field {
  background-color: lighten($grey, 5);
  color: $light-grey;

  font-size: $m-size;

  border-radius: $xxs-size;

  display: block;

  width: 95%;
  height: 5%;
  border: none;
  margin-bottom: $m-size;
  padding: 2.5%;
}

#title-field:focus {
  outline: none;
  background-color: lighten($grey, 10);
  color: white;
}

#content-field {

  background-color: lighten($grey, 5);
  color: $light-grey;

  font-size: $s-size;
  line-height: $m-size;
  letter-spacing: 1px;

  border-radius: $xxs-size;

  width: 95%;
  max-width: 95%;
  height: 60vh;
  max-height: 65%;

  display: block;
  border: none;
  margin-bottom: $m-size;
  padding: 2.5%;
}

#content-field:focus {
  outline: none;
  background-color: lighten($grey, 10);
  color: white;
}

#add-blog-form__btn-container {
  width: 100%;
  margin: 0 auto 0 auto;

  text-align: right;
}

#add-blog-form button {
  font-size: $s-size;

  border-radius: $m-size;
  padding: $s-size $l-size $s-size $l-size;
}

#add-blog-form .cancel-btn {
  background-color: $light-grey;
  color: white;

  border: none;

  margin-right: $s-size;
}

#add-blog-form .cancel-btn:hover {
  background-color: white;
  color: $light-grey;
}

#add-blog-form .submit-btn {
  background-color: $theme-color;
  color: $grey;

  border: none;
}

#add-blog-form .submit-btn:hover {
  background-color: white;
  color: $theme-color;
}


@media (max-width: $mobile-breakpoint) {
  #add-blog-form {
    width: 90%;
    height: 100%;

    border: none;
    margin: 0;
    padding: 5%;

    position: fixed;
    top: $overlap;
    bottom:0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  #content-field {
    height: 50vh;
    max-height: 50vh;
  }
  #add-blog-form button {
    display: block;
    width: 100%;
    border-radius: $xxs-size;
  }
  #add-blog-form button + button {
    margin-top: $s-size;
  }
}