@import '../base/settings';

#blog-list-page {
  color: white;
  background-color: $grey;

  width: 100%;
  margin-top: $overlap;

  position: fixed;
  top: 0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
}

#blog-list-page button {
  background-color: $splatoon-green;
  color: $grey
;
  border: 0;
  border-radius: $xxs-size;
}

#blog-list-page button:disabled {
  background-color: darken($splatoon-green, 40);
  color: $grey;
}

#blog-list-filter {
  font-size: $s-size;
  padding: 30px 25% 30px 25%;
}

// Search input

#search-filter {
  float: left;
}

#search-filter span {
  margin-right: $xxs-size;
}

#blog-list-filter input {
  background-color: $grey;
  color: $light-grey;

  height: $s-size;
  border: 1px solid $splatoon-green;

  margin-left: $xs-size;
  margin-right: $xs-size;
}

#blog-list-filter input:focus {
  background-color: $splatoon-green;
  color: $grey;
  outline: none;
}


// Sort filter

#sort-filter {
  margin-left: $m-size;
}

#sort-filter select {
  border: none;
  margin-left: $xs-size;
}


// Add blog link

#add-blog-link {

  color: $splatoon-green;

  font-size: $s-size;

  margin-left: $m-size;
}


// Page selector

#page-selector {
  display: inline-block;
  float: right;
  margin-right: 0;
}

#page-input {
  width: $m-size;
  text-align: center;
}
#page-selector button {
  margin-left: $xs-size;
}

.page-label {
  margin-left: $s-size;
  margin-right: $s-size;
}

// Bottom page selector

#bottom-page-selector {

  font-size: $s-size;

  padding: $m-size 25% $xl-size 25%;

  text-align: center;
}