#comment-form {
  font-size: $s-size;

  margin: $xl-size 0 $l-size 0;
}

#comment-form input {

  width: 80%;
  height: $l-size;

  border: none;
  border-radius: $xxs-size 0 0 $xxs-size;
  box-shadow: 0 0 0 0.15rem $theme-color inset;

  margin: 0;
  padding: 0 2.5% 0 2.5%;
}

#comment-form input:focus {
  outline: none;
}

#comment-form button {

  background-color: $theme-color;

  float: right;

  width: 15%;
  height: $l-size;

  border: none;
  border-radius: 0 $xxs-size $xxs-size 0;

  padding: 0 ;
}