nav {
  font-size: $s-size;
  font-weight: 200;
  text-transform: uppercase;
}

nav ul {
  background-color: $grey;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  background-color: $grey;
  display: inline;
  float: left;
}

nav #nav-title {

}

nav #nav-user {
  float: right;
}

nav #nav-sign-in {
  float: right;
}

nav a {
  color: $light-grey;

  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: white;
  box-shadow: 0px -3px 0px $splatoon-green inset;
}

nav .active-nav {
  color: white;
  box-shadow: 0px -3px 0px $splatoon-green inset;
}