nav {
  font-size: $s-size;
  font-weight: 200;
  text-transform: uppercase;

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

nav ul {
  background-color: $grey;

  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

nav li {
  background-color: $grey;
  display: inline;
  float: left;
}

nav a {
  color: $light-grey;

  display: block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  color: white;
  box-shadow: 0px -3px 0px $splatoon-green inset;
}

nav .active-nav {
  color: white;
  box-shadow: 0px -3px 0px $splatoon-green inset;
}

nav #nav-sign-in {
  float: right;
}

#dropdown {
  float: right;
  overflow: hidden;
}

#dropdown #dropdown-btn {
  background-color: $grey;
  color: $light-grey;
  font-size: $s-size;
  border: none;
  outline: none;
  padding: 1rem;
  font-family: inherit;
  margin: 0;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: $grey;
  min-width: $xl-size;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:auto;
  right:0;
}

#dropdown-content a {
  font-size: 0.5rem;
  float: none;
  color: $light-grey;
  padding: $s-size;
  display: block;
  text-align: center;
}

#dropdown-content a:hover {
  background-color: lighten($grey, 15);
  color: white;
  box-shadow: none;
}

#dropdown:hover #dropdown-content {
  display: block;
}