#not-found-page {

  background-image: url('../../public/images/十三机兵防卫圈_20200924015731.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  text-align: center;

  width: 100%;
  height: 100%;

  position: fixed;
  overflow: hidden;
}

#not-found-page__msg {
  color: white;
  font-size: $xl-size;
  text-transform: uppercase;

  margin-top: 20%;
  margin-bottom: 5%;
  display: block;
}

#not-found-page__msg span + span {
  margin-left: $xl-size;
}

#not-found-page a {

  background-color: #fdbcca;

  color: white;
  font-size: $s-size;
  text-transform: uppercase;

  padding: $s-size $m-size;
}

#not-found-page a:hover {
  background-color: white;
  color: lightskyblue;
}

@media (max-width: $mobile-breakpoint) {
  #not-found-page__msg {
    width: 95%;
    margin: $l-size $s-size;
  }
  #not-found-page__msg span {
    text-align: left;
    display: block;
  }
  #not-found-page__msg span + span {
    font-size: 2.5rem;
    margin: 0;
  }
  #not-found-page a {
    float: left;
    margin-left: $s-size;
  }
}