#view label {
  color: lighten($grey, 20);
  font-size: $s-size;
  text-transform: uppercase;
  padding-bottom: $s-size;
}

#view label:target {
  color: lighten($grey, 30);
  font-size: $s-size;
  text-transform: uppercase;
  padding-bottom: $s-size;
}