.reply-form {

  font-size: $s-size;

  margin: $s-size 0 $s-size 0;
  padding-bottom: $xs-size;
}

.reply-form input {

  width: 87%;
  height: $m-size;

  border: none;
  border-radius: .2rem 0 0 .2rem;
  box-shadow: 0 0 0 .1rem $light-grey inset;

  margin: 0;
  padding: 0 1.5% 0 1.5%;
}

.reply-form input:focus {
  outline: none;
}

.reply-form button {

  background-color: $light-grey;
  color: white;

  font-weight: normal;
  float: right;

  width: 10%;
  height: $m-size;

  border: none;
  border-radius: 0 .2rem .2rem 0;

  margin: 0;
  padding: 0;
}

.reply-form button:active {
  color: $theme-color;
}

@media (max-width: $mobile-breakpoint) {
  .reply-form button {
    font-size: $xs-size;
  }
}