#user-page {
  background-color: darken($grey, 10);

  width: 100%;
  margin-top: $overlap;

  position: fixed;
  top: 0;
  bottom:0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#user-info {
  text-align: left;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: $l-size;
  padding-bottom: $l-size;
}

#user-info__username {
  color: white;
  font-size: $l-size;
}

#user-info__intro {
  color: $light-grey;
  font-size: $s-size;
}

#user-info__edit {
  color: $theme-color;
  font-size: $s-size;
}

#user-page p {
  color: white;
}

#blog-page__blog-list {
  width: 50%;
  margin: 0 auto;
}