{% extends 'layout.html' %}
{% block body %}
    {% for item in result %}
        <p>{{ item['name'] }}
            |
            {% if item['isActive'] %}
                现在是active, <a href="{{ url_for('admin.user_inactive', index=item['id']) }}">修改</a>
            {% else %}
                现在不是active, <a href="{{ url_for('admin.user_active', index=item['id']) }}">修改</a>
            {% endif %}
            |
            {% if item['isAdmin'] %}
                现在是admin, <a href="{{ url_for('admin.revoke_admin', index=item['id']) }}">撤职</a>
            {% else %}
                现在不是admin, <a href="{{ url_for('admin.give_admin', index=item['id']) }}">授权</a>
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}