{% extends 'layout.html' %}
{% block body %}
    {% if  show_edit_link %}
        <a href="{{ url_for('blog.blog_edit', aid=blog['class_id']) }}">重新编辑博客内容</a>
    {% endif %}

    <h1>{{ blog['title'] }}</h1>
    {{ blog['content']|safe}}
    <p class="time">{{ blog['time'] }}</p>
    <p>{{ blog['name'] }}</p>

    <div id="comment-section">
        <form id="comment-form" method="post" action="{{ url_for('blog.add_comment', aid=blog['class_id']) }}">
            <input id="comment-input" type="text" name="content" placeholder="说点什么" required>
            <button type="submit">评论</button>
        </form>

        {% if not comments %}
            <p>暂无评论</p>
        {% else %}
            {% for comment in comments %}
                <div class="comment">
                    <span class="comment-author"><a href=#>{{ comment['username'] }}</a>：</span>
                    <span class="comment-content">{{ comment['content'] }}</span>
                    <span class="comment-time time">{{ comment['time'] }}</span>
                    <button class="toggle-reply-form" aid={{ blog['class_id'] }} cid={{ comment['cid'] }} to_uid="{{ comment['uid'] }}">Reply</button>
                    <div class="reply-section">
                        <div class="reply-form-container">
{#                            <form class="reply-form" method="post" action="{{ url_for('blog.add_reply', aid=blog['class_id'], cid=comment['cid'], to_uid=comment['uid']) }}">#}
{#                                <input class="reply-input" type="text" name="content" required>#}
{#                                <button type="submit">回复</button>#}
{#                             </form>#}
                        </div>

                        {% if comment['replies'] %}
                            <div class="replies">
                                {% for reply in comment['replies'] %}
                                    <div class="reply">
                                        <span class="reply-author"><a href=#>{{ reply['username'] }}</a>：</span>
                                        <span class="reply-content">{{ reply['content'] }}</span>
                                        <span class="reply-time time">{{ reply['time'] }}</span>
                                    </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock %}
