<html>

<head>
	<meta charset="utf-8" />
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/members.css">
	<script language="JavaScript" type="text/javascript" src="../js/js.js"></script>
	<link rel="icon" href="../pic/icon.png">
	<title>超自然心理研究社</title>
</head>

<body>
	<div class="header">
		<a href="/index"><img src="../pic/icon.png" class="icon"></a>
		<ul>
			<li><a href="/photo">PHOTO</a></li>
			<li><a href="/video">VIDEO</a></li>
			<li><a href="/beat-beans">GAME</a></li>
			<li><a href="/jio">Soul Sacrifice</a></li>
			<li><a href="/member">MEMBER</a></li>
			<li><a href=#>ABOUT</a></li>
			<li>
				<div class="dropdown">
					<button class="dropdown-btn">LANGUAGE</button>
					<div class="dropdown-content">
						<a href="/index-jp">JAPANESE</a>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="container">
		<div class="jio">
			<object id="gameflash" width="600" height="648" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0">
				<param name="movie" value="http://img.3366.com/fileupload/flash/58/1000258.swf?cc=1333269630">
				<param name="allowScriptAccess" value="always"><param name="allowNetworking" value="all">
				<param name="flashvars" value="pagedomain=www.3366.com&amp;pid=1000258&amp;adId=&amp;uin=510693321&amp;platform=1&amp;cantakephoto=undefined&amp;apiflag=0&amp;channelId=,200000&amp;xpos=0&amp;ypos=0&amp;xspan=0&amp;yspan=0">
				<param name="quality" value="high">
				<param name="wmode" value="opaque">
				<param name="base" value="http://img.3366.com/fileupload/flash/58/1000258/">
				<embed name="gameflash" src="http://img.3366.com/fileupload/flash/58/1000258.swf?cc=1333269630" width="600" height="648" base="http://img.3366.com/fileupload/flash/58/1000258/" flashvars="pagedomain=www.3366.com&amp;pid=1000258&amp;adId=&amp;uin=510693321&amp;platform=1&amp;cantakephoto=undefined&amp;apiflag=0&amp;channelId=,200000&amp;xpos=0&amp;ypos=0&amp;xspan=0&amp;yspan=0" allowscriptaccess="always" allownetworking="all" wmode="opaque" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash">
				</object>
			</div>
			<div id="footer">
				<p>&copy; Supernatural Psychology Association</p>
			</div>

		</div>
	</body>

	</html>
