<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href='./../static/styles/main.css' />
	<script language="JavaScript" type="text/javascript" src="./../js/js.js"></script>
	<link rel="icon" href="./pic/icon.png">
	<title>超自然心理研究社</title>
</head>


<div id="container">
	<div class="header">
		<a href="/index"><img src="./../static/images/icon.png" class="icon"></a>
		<ul>
			<li><a href="/logout">LOGOUT</a></li>
			<li><a href="/photo">PHOTO</a></li>
			<li><a href="/video">VIDEO</a></li>
			<li><a href="/beat-beans">GAME</a></li>
			<li><a href="/jio">Soul Sacrifice</a></li>
			<li><a href="/member">MEMBER</a></li>
			<li><a href=#>ABOUT</a></li>
			<li>
				<div class="dropdown">
					<button class="dropdown-btn">LANGUAGE</button>
					<div class="dropdown-content">
						<a href="/index-jp">JAPANESE</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>欢迎来到这个还什么都没有的空白秘密基地</h1>
    </div>
<div>
</html>
