<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>超自然心理研究社</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900" rel="stylesheet" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/basic.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/provided.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/blog.css') }}" media="screen" />
	<link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
</head>

<body>
	<header>
		<a href="/index">
			<img src="{{ url_for('static', filename='images/icon.png') }}" id="icon" />
		</a>
		<nav>
			<ul>
				<li><a href="{{ url_for('blog.blog_list') }}">BLOGS</a></li>
				<li><a href="{{ url_for('index.video') }}">VIDEOS</a></li>
				<li><a href="{{ url_for('index.beat_beans') }}">GAME</a></li>
				<li><a href="{{ url_for('index.jio') }}">Soul Sacrifice</a></li>
				<li><a href="{{ url_for('index.member') }}">MEMBERS</a></li>
				<li><a href="{{ url_for('index.about') }}">ABOUT</a></li>
                <li><a href="{{ url_for('admin.admin_index') }}">ADMIN</a></li>
                {% if session['user_id'] %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">login</a></li>
                {% endif %}
				<li>
					<div class="dropdown">
						<button class="dropdown-btn">LANGUAGE</button>
						<div class="dropdown-content">
							<a href="{{ url_for('index.index_jp') }}">JAPANESE</a>
						</div>
					</div>
				</li>
			</ul>
		</nav>
	</header>
	<article id="container">
		{% block body %}
		// Content will be here
		{% endblock %}
	</article>
	<footer>
		<p>&copy; Supernatural Psychology Association</p>
	</footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/time.js') }}"></script>
</body>

</html>
