<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>超自然心理研究社</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
	<link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/basic.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/provided.css') }}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/dashboard.css') }}" media="screen" />
	<link href='https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/cosmo/bootstrap.min.css' rel='stylesheet'>
	{% block externalCss %}
    {% endblock %}
</head>

<body>
	<app-root></app-root>
	<script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

	<header>
		<a href="/index">
			<img src="{{ url_for('static', filename='images/icon.png') }}" id="icon" />
		</a>
		<nav>
			<ul>
				<li><a href="{{ url_for('blog.blog_list') }}">BLOGS</a></li>
				<li><a href="{{ url_for('index.video') }}">VIDEOS</a></li>
				<li><a href="{{ url_for('index.beat_beans') }}">GAME</a></li>
				<li><a href="{{ url_for('index.jio') }}">Soul Sacrifice</a></li>
				<li><a href="{{ url_for('index.member') }}">MEMBERS</a></li>
				<li><a href="{{ url_for('index.about') }}">ABOUT</a></li>
                <li><a href="{{ url_for('admin.admin_index') }}">ADMIN</a></li>
                {% if session['user_id'] %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">login</a></li>
                {% endif %}
				<!-- <li>
					<div class="dropdown">
						<button class="dropdown-btn">LANGUAGE</button>
						<div class="dropdown-content">
							<a href="{{ url_for('index.index_jp') }}">JAPANESE</a>
						</div>
					</div>
				</li> -->
				{% if session['user_id'] %}
					<li>
						<a href="{{ url_for('auth.profile', uid=session['user_id']) }}">
							<img style="display: flex; position: absolute; right: 15px; top: 13px;" src="../../static/images/avatar.png" width="30" height="30"> </img>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</header>
	<article id="container">
		{% block body %}
		// Content will be here
		{% endblock %}
	</article>
	<footer>
		<p>&copy; Supernatural Psychology Association</p>
	</footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/time.js') }}"></script>
</body>

</html>
