{% extends "layout.html" %}
{% block body %}
<h1>Memebers</h1>
<div id="members">
	<ul>
		<li>
			<a href="#member-a">
				<img src="./../static/images/zys.jpg" />
			</a>
		</li>
		<li>
			<a href="#member-b">
				<img src="./../static/images/13475.jpg" />
			</a>
		</li>
		<li>
			<a href="#member-c">
				<img src="./../static/images/96323.jpg" />
			</a>
		</li>
		<li>
			<a href="#member-d">
				<img src="./../static/images/wyx.jpg" />
			</a>
		</li>
		<li>
			<a href="#member-e">
				<img src="./../static/images/qy.jpg" />
			</a>
		</li>
		<li>
			<a href="#member-f">
				<img src="./../static/images/zys.jpg" />
			</a>
		</li>
		<li>
			<a href="#member-g">
				<img src="./../static/images/zys.jpg" />
			</a>
		</li>
		<li>
			<a href="#member-h">
				<img src="./../static/images/WechatIMG59.jpeg" />
			</a>
		</li>
		<li>
			<a href="#member-i">
				<img src="./../static/images/hxb.jpg" />
			</a>
		</li>
</div>
<section id="member-a">
	<h2>YS.Zhang</h2>
	<p class="location"><b>Nanjing, China</b></p>
	<p class="description">
		超自然心理研究社创始人<br />目前计算机科学专业在读<br />喜欢小岛阳菜的大美女
	</p>
</section>
<section id="member-b">
	<h2>13475</h2>
	<p class="location"><b>Sydney, Australia</b></p>
	<p class="description">
		气死人高手<br />莫名其妙的分子<br />轻度精神分裂<br />喜欢山崎贤人<br />目前计算机科学在读<br />前段时间开通了YouTube<br />现拥有5位粉丝
	</p>
</section>
<section id="member-c">
	<h2>96323</h2>
	<p class="location"><b>Sydney, Australia</b></p>
	<p class="description">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
		irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</section>
<section id="member-d">
	<h2>YX.Wei</h2>
	<p class="location"><b>Xiamen, China</b></p>
	<p class="description">
		XB.Huang最害怕的人
	</p>
</section>
<section id="member-e">
	<h2>QY.Yang</h2>
	<p class="location"><b>Beijing, China</b></p>
	<p class="description">
		（个人介绍）
	</p>
</section>
<section id="member-f">
	<h2>ZJ.Lin</h2>
	<p class="location"><b>Sichuan, China</b></p>
	<p class="description">
		（个人介绍）
	</p>
</section>
<section id="member-g">
	<h2>N.Lin</h2>
	<p class="location"><b>Fuzhou, China</b></p>
	<p class="description">
		学医
	</p>
</section>
<section id="member-h">
	<h2>LJ.Huang</h2>
	<p class="location"><b>Los Angeles, America</b></p>
	<p class="description">
		黄乐鋆，又名Remi 就是do re mi fa so la xi 中的Remi。<br /> 身处阳光充沛，雨水稀少的洛杉矶UCLA，吃力攻读神经科学和统计中，坚持的动力是要在脑机互联领域干出一番事业。于是就要苦逼苦逼地念书到三十岁再进入社会，再说不定拿我的技术成果小小创个业。
		<br /> 现在特别喜欢眼神坚定，脑洞清奇的千玺弟弟。
		<br /> 时代15界一班的大家都是我的港湾，常挂在嘴边的爱你们是真的唷。
	</p>
</section>
<section id="member-i">
	<h2>XB.Huang</h2>
	<p class="location"><b>Guangzhou, China</b></p>
	<p class="description">
		96323的弟弟<br />说话说不清楚<br />换了个女朋友
	</p>
</section>
{% endblock %}
