{% extends "layout.html" %}
{% block body %}
<div class="full-width">
	<br>
	<br>

	<div class="row-profile-picture">
		{% if user['avatar'] is not none %}
			<img src="../../static/images/profilepics/{{ user['avatar'] }}" id="profile" class="rounded-circle"> </img>
		{% else %}
			<img src="../../static/images/mina1.jpg" id="test" class="rounded-circle">
		{% endif %}
	</div>
	<div class="profile-info">
		{% for message in get_flashed_messages() %}
			<div class="alert alert-dismissible alert-danger">
	  			<button type="button" class="close" data-dismiss="alert">&times;</button>
	  			<strong>Oh snap! </strong> {{ message }}
			</div>
		{% endfor %}
		<h2>{{ user['name'] }}</h2>

		{% if user['introduce'] is not none %}
			<div class="bioContainer">
				<p>{{ user['introduce'] }}</p>
			</div>
		{% endif %}

		{% if user['id'] == session['user_id'] %}
			<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal1">Edit Profile</button>
		{% endif %}
	</div>
	<div style="display: block; margin-left: auto; margin-right: auto;">
		{% for blog in blog_list %}
			<div class="card" style="width: 60%; text-align: left; margin-left: auto; margin-right: auto;">
				<div class="card-body">
					<h3 class="card-title">{{ blog['title'] }}</h3>
					<h6 class="card-subtitle mb-2 text-muted">{{ blog['author'] }}</h6>
					<p class="card-text">{{ blog['content']|safe }}</p>
					<a href="{{ url_for('blog.blog_content', aid=blog['aid']) }}" class="card-link">view more</a>
				</div>
			</div>
		{% endfor %}
	</div>

</div>


{% if user['id'] == session['user_id'] %}
<div id="myModal1" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!--modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Edit Profile Options</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal2" data-dismiss="modal">Change Username</button>
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal3" data-dismiss="modal">Change Password</button>
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal4" data-dismiss="modal">Update Profile Picture</button>
				<button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal5" data-dismiss="modal">Update Bio</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- modal to edit profile options -->
<div id="myModal2" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!--modal content-->
		<form id="changeUserName" method='POST'>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Change Username</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
				    	<label for="newUserName">Enter a new username</label>
						<input type="text" class="form-control" placeholder="New Username" id="newName" name="userName">
				    </div>
				</div>
				<div class="modal-footer">
					<button type="button" data-toggle="modal" class="btn btn-default btn-prev" data-target="#myModal1" data-dismiss="modal">Prev</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" id="changeName">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- modal to edit profile options -->
<div id="myModal3" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!--modal content-->
		<form id="changePasswordForm" method='POST'>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Change Password</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				    <div class="form-group">
				        <label for="somethingTitle" class="formp" style="margin-top: 10px;">Enter Old Password</label>
				        <input type="password" class="form-control passfc" name="oldPass" placeholder="Old Password">
				        <label for="exampleInputPassword1" class="formp" style="margin-top: 10px;">Enter New Password</label>
				        <input type="password" class="form-control passfc" name="newPass" placeholder="New Password">
				        <label for="exampleInputPassword1" class="formp" style="margin-top: 10px;">Confirm New Password</label>
				        <input type="password" class="form-control passfc" name="confirmedPass" placeholder="Repeat">
				    </div>
				<div class="modal-footer">
					<button type="button" data-toggle="modal" class="btn btn-default btn-prev" data-target="#myModal1" data-dismiss="modal">Prev</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" id="changePassword">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- modal to edit profile options -->
<div id="myModal4" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!--modal content-->
		<form id="changeProfilePicForm" method='POST' enctype='multipart/form-data'>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Update Profile Picture</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				   <div class="form-group pp-choose">
					    <label for="exampleInputFile">Choose a new profile picture (.png or .jpg only)</label>
					    <input type="file" class="form-control-file" id="upload" name="newProfilePic" aria-describedby="fileHelp">
				    </div>
				<div class="modal-footer">
					<button type="button" data-toggle="modal" class="btn btn-default btn-prev" data-target="#myModal1" data-dismiss="modal">Prev</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" id="changeProfilePic">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>


<!-- modal to edit profile options -->
<div id="myModal5" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!--modal content-->
		<form id="changeBioForm" method='POST'>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Update Bio</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						    <label for="exampleTextarea">Enter a new bio description:</label>
						    <br>
						    <textarea name="bio" id="newbio" rows="4" cols="44" onKeyDown="limitText(this.form.bio, this.form.countdown,50);"
onKeyUp="limitText(this.form.bio, this.form.countdown,50);"></textarea>
							<font size="1">(Maximum characters: 50)<br>
							You have <input readonly type="text" name="countdown" size="3" value="50"> characters left.</font>
				    </div>
				</div>
				<div class="modal-footer">
					<button type="button" data-toggle="modal" class="btn btn-default btn-prev" data-target="#myModal1" data-dismiss="modal">Prev</button>
					<button type="submit" class="btn btn-default" data-dismiss="modal" id="changeBio">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endif %}
<script>
	changeBio = document.getElementById('changeBio');
	changeBio.addEventListener('click', function() {
		document.getElementById('changeBioForm').submit();
		console.log('i click change bio button');
	})

	changeUserName = document.getElementById('changeName');
	changeUserName.addEventListener('click', function() {
		document.getElementById('changeUserName').submit();
		console.log('i click change username button');
	})

	changeProfilePic = document.getElementById('changeProfilePic');
	changeProfilePic.addEventListener('click', function() {
		document.getElementById('changeProfilePicForm').submit();
		console.log('i click change profile');
	})

	changePassword = document.getElementById('changePassword');
	changePassword.addEventListener('click', function() {
		document.getElementById('changePasswordForm').submit();
		console.log('i click change password');
	})

	// for limit the inpur when updating bio
	function limitText(limitField, limitCount, limitNum) {
		if (limitField.value.length > limitNum) {
			limitField.value = limitField.value.substring(0, limitNum);
		} else {
			limitCount.value = limitNum - limitField.value.length;
		}
	}

</script>
{% endblock %}
