<!DOCTYPE html>
<html>
	<body>
		<div style="padding: 50px">
			<h1>注册会有意想不到的惊喜哦</h1>
			<hr/>
			<br/>
            <div>
            	<!-- This form is incomplete. It will not send the request properly and has missing components.  Add the necessary fields to complete the form.  -->
            	<form name="form", method="POST">
            		用户名:</br> <input type = "text" name="user_name"></br>
            		密码:</br> <input type = "text" name="password"></br>
                    注册邮箱:</br> <input type = "text" name="email"></br>
            		你的YouTube用户名：:</br> <input type = "text" name="user_youtube_account"></br>
                    为了让世界更热闹的心理SPA的团， 你能够让世界更加热闹吗:</br> <input type = "text" name="answer"></br>
            		<div style="margin: 10px 0px">
            			<button type="submit">注册</button>
            		</div>
            	</form>
            </div>
		<div>
	</body>

</html>
