body {
}

header {
    background-color: rgba(239, 197, 205, 0.5);
}

header nav a {
    color: #4A4A4A;
}

header nav a:hover {
    color: white;
}

/* #container {
    background-color: rgba(239, 197, 205, 0.5);
} */
