{% extends "layout.html" %}
{% block body %}
<p>这是登录界面</p>
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}
<!-- <form method="post">
    <label for="mail">Mail: </label>
    <input name="mail" id="mail" required>
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>
    <br>
    <input type="submit" value="Login">
</form> -->
<div class="text-center">
    <form class="form-signin">
      <!-- <a href="/index">
          <img class="mb-4" src="{{ url_for('static', filename='images/icon.png') }}" width="72" height="72" />
      </a> -->
      <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
      <label for="mail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" name="mail" placeholder="Email address" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <a href="{{ url_for('auth.register') }}">还没有账号？</a>
</div>
{% endblock %}
