{% extends 'layout.html' %}

{% block body %}
<p>这是注册界面</p>
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}
<form method="post">
    <label for="username"> Username </label>
    <input name="username" id="username" required>
    <br>
    <label for="mail">Mail: </label>
    <input name="mail" id="mail" required>
    <br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="repeated-password">Repeat password: </label>
    <input type="password" name="repeated-password" id="repeated-password" required>
    <br>
    <input type="submit" value="Register">
</form>
{% endblock %}