html {
  font-family: 'PT Mono', 'Hiragino Kaku Gothic Pro', serif;
  font-size: 16px;
}

h1 {
  font-size: $l-size;
}

h2 {
  font-size: $m-size;
}

h3 {
  font-size: ($s-size + $m-size) / 2;
}

p {
  font-size: $s-size;
}

a {
  color: white;
  text-decoration: none;
}

#app {
  height: 100vh;
}

hr {
  border: 0;
  border-bottom: 1px dashed $grey;
}

#side-bar button {
  outline: none;
}

::-webkit-scrollbar {
  width: $xxs-size;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $theme-color;
  border-radius: $xxs-size;
}

.msg {
  background-color: $theme-color;
  color: black;
  font-size: $s-size;
  text-transform: uppercase;

  width: auto;
  padding: .2rem .3rem;

  display: inline-block;
}

.page {
  margin-top: $overlap;
}