// Colors
$splatoon-purple: #5F3CDC;
$splatoon-yellow: #EAFF5D;
$splatoon-green: 73F6CF;
$default: #3FF6ED;

$theme-color: $default;
$grey: #2A2A2A;
$light-grey: #cccccc;

// Spacing
$xxs-size: 0.3rem;
$xs-size: 0.5rem;
$s-size: 0.75rem;
$m-size: 1.5rem;
$l-size: 3.0rem;
$xl-size: 4.5rem;
$xxl-size: 6.0rem;
$overlap: 2.75rem;

$mobile-breakpoint: 45rem;
$mobile-overlap: 5.5rem;

.light {
  $theme-color: $splatoon-purple;
}