// Colors
$splatoon-purple: #5F3CDC;
$splatoon-yellow: #EAFF5D;
$splatoon-green: #3ff6de;
$grey: rgb(42, 42, 42);
$light-grey: #ccc;

// Spacing
$xxs-size: 0.1875rem;
$xs-size: 0.375rem;
$s-size: 0.75rem;
$m-size: 1.5rem;
$l-size: 3.0rem;
$xl-size: 4.5rem;
$xxl-size: 6.0rem;
$mobile-breakpoint: 45rem;